* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-pane {
  background: #5f5f5f;
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: #5f5f5f;
  transition: flex-grow 1s ease;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.CodeMirror {
  height: 100% !important;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #363636;
  color: white;
  padding: 0.7rem 0.7rem 0.7rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.codemirror-wrapper {
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
